@import "../abstract";

main {
    .quality-section {
        margin-bottom: 82px;

        &>p {
            font-family: 'Clash Display';
            font-size: 24px;
            text-align: center;
            color: $text-darkblue;
            margin-bottom: 36px;

        }

        .quality-card {
            padding: 48px;
            background-color: #F9F9F9;
            cursor: pointer;

            h4 {
                font-family: 'Clash Display';
                font-size: 20px;
                color: $text-darkblue;
                margin: 12px 0px;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                color: $text-darkblue;
            }
        }
    }

    .product_section {
        padding-top: 28px;
        padding-bottom: 40px;
        margin-bottom: 60px;

        .product_cards {
            margin-bottom: 48px;
        }

        .product_card {
            cursor: pointer;

            p {
                font-family: 'Clash Display';
                font-size: 20px;
                line-height: 28px;
                color: $text-darkblue;
                margin-top: 24px;
                margin-bottom: 8px;
            }

            span {
                font-size: 18px;
                color: $text-darkblue;
            }
        }
    }

    .features {
        margin-bottom: 60px;

        .features-part {
            background-color: $text-darkblue;
            padding: 64px 75px 54px 64px;

            h2 {
                font-family: 'Clash Display';
                font-size: 32px;
                color: $text-white;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                line-height: 24.3px;
                color: $text-white;
                margin-top: 12px;
                margin-bottom: 205px;
            }

            .features-btn {
                background-color: #F9F9F926;
                color: $text-white;
            }

            .features-btn:hover {
                background-color: $text-white;
                color: $text-darkblue;
            }
        }
    }

    .form_wrapper {
        background-image: url(../static/Image/form-bg-image.webp);
        height: 444px;
        background-size: cover;
    }

    .login_section {
        text-align: center;
        padding-top: 97px;
        padding-bottom: 86px;

        h2 {
            font-family: 'Clash Display';
            font-size: 35px;
            line-height: 44.8px;
            color: $text-white;
        }

        p {
            width: 470px;
            font-size: 18px;
            line-height: 27px;
            color: $text-white;
            margin-top: 12px;
            margin-bottom: 30px;
        }

        span {
            font-size: 16px;
            color: $text-white;
        }

        form {
            margin-top: 40px;

            input {
                width: 354px;
                padding: 17px 32px;
                border: none;
            }

            input:focus {
                outline: none;
                color: rgba(0, 0, 0, 0.5);
            }

            input::placeholder {
                font-size: 16px;
                opacity: 20%;
            }

            .btn-sign {
                background-color: $text-darkblue;
                font-size: 16px;
                color: $text-white;
            }

            .btn-sign:hover {
                background-color: #3f3770;
            }
        }
    }
}