@import "../abstract";

body {
    font-family: "Satoshi";
    font-weight: 400;
}

a {
    text-decoration: none;
}

.view-collection {
    background-color: #F9F9F9;
    cursor: pointer;
    color: $text-darkblue;
}

.view-collection:hover {
    background-color: $text-darkblue;
    color: #F9F9F9;
}

.btn {
    border: none;
    border-radius: 0px;
    padding: 16px 32px 16px 32px;
    transition: all 0.5s;
    font-size: 16px;
}

.another-form {
    display: none!important;
}

.bars {
    display: none;
}